body {
  background: #e8e9ef;
}
    
.pricing-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 117px;
  }
    
.selected1 {
display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333333;
    color: #c8c8c8;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
}

    .pricing-card {
    max-width: 300px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    height: 282px;
    border-radius: 18px;
    background: #e8e9ef;
    box-shadow: 5px 5px 10px #c5c6cb, -5px -5px 10px #ffffff;
    margin-inline-start: 1.5rem;
    width: 190px;
    }
    
    .badge {
display: inline-block;
    padding: 5px 10px;
    color: #000000;
    font-size: 14px;
    width: -webkit-fill-available;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 50px;
    background: #e8e9ef;
    box-shadow: 5px 5px 10px #c5c6cb, -5px -5px 10px #ffffff;
    }
    
    h1 {
      margin-top: 20px;
      font-size: 24px;
    }
    
    .price {
      font-size: 36px;
      margin: 0;
    }
    
    .text {
      font-size: 16px;
      color: #999999;
    }
    
    ul {
      padding: 0;
      list-style: none;
      margin-top: 20px;
    }
    
    ul li {
      margin-bottom: 10px;
    }
    
    button {
    padding: 10px 20px;
    background-color: #333333;
    color: #c8c8c8;
    border: none;
    border-radius: 50px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 44px;
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}
    }
    
    /* Additional styles for the selected pricing card */
    .selected {
      background-color: #e8e9ef;
    }
